@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;

    --color-primary: #1D9BF0;

    --color-text-primary: #D9D9D9;
    --color-text-secondary: #6E767D;

    --color-background: #000000;
    --color-background-secondary: #202327;

    --color-border: #2F3336;
    --color-hover: #161616;

    --text-caption: 13px;
    --text-body: 15px;
    --text-body-lg: 17px;
    --text-title: 19px;
    --text-heading: 20px;
}


body {
    font-family: var(--font-sans);
    line-height: 100%;
}
