@import "tailwindcss";

@theme {
    --color-primary: #1D9BF0;

    --color-text-primary: #D9D9D9;
    --color-text-secondary: #6E767D;

    --color-background: #000000;
    --color-background-secondary: #202327;

    --color-border: #2F3336;
    --color-hover: #161616;
}
